.firstBox {
  position: relative;
  background-color: #fff;
  height: 420px;
}

.titleBox {
  position: absolute;
  top: 15%;
  left: 5%;
}

.title {
  font-weight: 400;
  color: #ccc;
  font-size: 44px;
  margin-bottom: 64px;
}
