.firstBox {
  position: relative;
  background-color: #fff;
  height: 420px;
}

.titleBox {
  position: absolute;
  top: 15%;
  left: 5%;
}

.title {
  font-weight: 400;
  color: #ccc;
  font-size: 44px;
  margin-bottom: 64px;
}

.balanceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px;
}

.balanceContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 480px;
  border-radius: 8px;
  min-height: 320px;
  margin: 24px;
  gap: 4px;
}
