.firstBox {
  position: relative;
  margin-top: 60px;
  background-color: #fff;
  height: 420px;
}

.titleBox {
  position: absolute;
  top: 15%;
  left: 5%;
}

.title {
  font-weight: 400;
  color: #ccc;
  font-size: 44px;
  margin-bottom: 64px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #6358ec;
  color: white;
  border: none;
  border-radius: 8px;
}
