.input {
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 48px;
  width: 90%;
  padding-left: 8px;
  margin-bottom: 48px;
  font-size: 18px;
  color: #747474;
}
.input:focus {
  outline: none;
}
