.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  width: 70%;
  min-width: 576px;
}

.header > button {
  position: absolute;
  right: 0;
}

.Container {
  display: flex;

  flex-direction: column;
  background-color: #fff;
  margin: 24px 0;
  width: 70%;
  min-width: 612px;
  height: 480px;
  gap: 15px;
  border-radius: 8px;
}

.postHeader {
  display: flex;
  width: 100%;
  padding: 12px;
  justify-content: space-between;
  border-bottom: 2px solid rgb(153, 153, 153);
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.user {
  font-size: 14px;
  font-weight: 700;
  color: #afafaf;
}

.content {
  font-size: 18px;
  font-weight: 400;
  padding: 12px;
}
